# Compilados
bin/
*.o
*.out
/test_graph

# Datos y resultados generados
datasets/*
!datasets/README.md

results/raw/*
!results/raw/README.md

results/plots/*
!results/plots/README.md

# Python
__pycache__/
*.py[cod]

# Editor
.vscode/
.idea/

# Sistema
.DS_Store